[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = TENX-S
	email = ttenx@pm.me
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status -s
	df = diff
	last = log -1 HEAD
	unstage = reset HEAD --
	mg = merge
	rb = rebase
	ck = cherry-pick
[core]
	editor = neovide --nofork
