[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = TENX-S
	email = ttenx@pm.me
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branc
	ci = commit
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
	mg = merge
	rb = rebase
	ck = cherry-pick

[core]
	editor = neovide --nofork
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

